@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;  

}


/* Geral */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
 background-color:#6894f8 ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  background-color: rgb(255, 255, 255); 
  align-items: baseline; 
  height: 125px;
  width: 100% ;
  
  display: flex;
  justify-content: center;
  position: fixed; top: 0px; left: 0px;
  
  opacity: initial;
  visibility: visible;
  transition: opacity 0.3s ease;

   flex-wrap: wrap;
  
  
  
}

header > img {
  position: absolute; 
 
  left: 0;
  max-width: 230px;
  cursor: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: auto;
  grid-row: auto;
  align-items: center;
  gap: 60px;

  flex-wrap: wrap;

  margin-top: 50px;

}

.menu-toggle {

  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: absolute;
}

main {
 background-color: rgb(247, 247, 247);
  border-radius: 40px;
  box-shadow: 5px 5px 5px #775f5293;
  max-width: 80%;
  padding: 40px 20px;
  margin: 140px auto 40px;
  margin-top: 550px;
  
  flex: 1;
  
  margin: 0 auto;
 
}

h1 {
color: rgb(0, 0, 0) ;
text-align: left;
text-shadow: 1px 1px 2px #6b3f02ad;
text-align: center;

}

#bigtittle {
  display: block;
  margin-top: 170px;
  margin-bottom: 35px;
}

.smalltitle {
  color: #6894f8;
  text-align: center;
  display: none;
}

a {
color: #6894f8;
font-family: Geneva ;
font-size: 1.5em;
text-shadow: 1px 1px 2px #6b3f02ad; 
text-decoration: solid;

}

h2{
color: black ;
text-align: center;
text-shadow: 1px 1px 2px #6b3f02ad;
}
p {
color: black ;
text-align: justify;
text-shadow: 1px 1px 2px #6b3f02ad;
}

section {
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
  max-width: 800px; 
  margin: auto; 
  padding: 20px;
}


/* prototipo */

#prot-card{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

#prototipo-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;

}


/* comunicação*/
.contact-img{
  width: 140px;
  height: 140px;

}

.contact-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 40px auto;
  font-size: 9px;
  text-align: center;
  max-width: 100%;
  margin-left: -27px;
}

.contact-flex p {
  text-align: center;
}


footer {
  background-color: #000000;
  color: white;

  padding: 0px;
  

  margin: 0px;
  margin-top: 30px;
  bottom: 0px;
  width: 100%;

}

footer p {
  
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}




@media (max-width: 1050px) {

   .contact-flex {
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;    
  }

  header{
    height: 120px;
  }
  header a {
    font-size: 18px;
  }
  header > img {
    max-width: 165px;
    padding-top: 15px;
  }
}



@media (max-width: 810px) {

  .menu-toggle {
    display: flex;
    align-items: flex-end;
    

    background: linear-gradient(135deg, #6894f8, #4765ad);
    font-size: 24px;
    color: white;
    cursor: pointer;
    
    position: absolute;
    top: 45px;
    right: 15px;

  }

  .smalltitle{
    display: block;
  }

  #bigtittle {
    display: none;
    
  }

  header h1 {
    margin-top: 40px;
  }

  nav {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 210px;
    height: 300px;
    display: none;
  }
  nav.show {
    display: flex; /* Mostra o menu quando a classe "show" estiver presente */
  }
}


@media (max-width: 610px) {
  header h1 {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 21px;

    text-align: center;
  }

  header img {
    max-width: 137px;
    padding-top: 10px;
    margin-left: -20px;
  }


}